{{!-- Define o título da página --}}
{{!< layouts/verification}}

{{#*inline "title"}}Conta Verificada{{/inline}}

<div class="message">
	<p>Conta verificada com sucesso!</p>
</div>

<a
		href="{{frontendUrl}}"
		class="button">Ir para o site</a>
