{{!-- Define o título da página --}}
{{!< layouts/verification}}

{{#*inline "title"}}Erro na Verificação{{/inline}}

<div class="message">
	<p>Houve um erro na verificação da conta. Tente novamente.</p>
</div>

<a
		href="{{frontendUrl}}"
		class="button">Ir para o site</a>
