<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0">
	<title>{{title}}</title>
	<!--suppress CssUnusedSymbol -->
	<style>
		body {
			font-family: Arial, sans-serif;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			min-height: 100vh;
			margin: 0;
			background-color: #f4f4f4;
		}

		.container {
			text-align: center;
			padding: 20px;
			background: white;
			border-radius: 10px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
			width: 100%;
			max-width: 400px;
		}

		.logo {
			width: 100px;
			margin-bottom: 20px;
		}

		.message {
			font-size: 18px;
			margin: 20px 0;
		}

		.button {
			display: inline-block;
			padding: 10px 20px;
			font-size: 16px;
			color: white;
			background-color: #007BFF;
			border: none;
			border-radius: 5px;
			text-decoration: none;
			cursor: pointer;
		}

		.button:hover {
			background-color: #0056b3;
		}
	</style>
</head>
<body>
<div class="container">
	<img
			src="{{logo}}"
			alt="Logo do Projeto"
			class="logo">
	{{{body}}}
</div>
</body>
</html>
